<div class="container-fluid">
    <div class="row buffer-top">
        <div class="col-xs-4">
            <label>{{ 'filter.category' | translate }}
                <select name="category"
                        ng-model="bookCategory"
                        ng-options="option for option in categories track by option">
                    <option></option>
                </select>
            </label>
        </div>
        <div class="col-xs-4">
            <label>{{ 'filter.genre' | translate }}
                <select name="genre"
                        ng-model="bookGenre"
                        ng-options="option as option for option in genres | orderBy track by option">
                    <option></option>
                </select>
            </label>
        </div>
        <div class="col-xs-4">
            <input ng-model="userSearch" />
        </div>
    </div>
    <div class="row buffer-top">
        <dir-pagination-controls
                boundary-links="true"
                on-page-change="pageChangeHandler(newPageNumber)"
                template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
    <div class="row buffer-top">
        <ul class="book-list">
            <li dir-paginate="book in books
            | filterBooks: userSearch
            | filter: (!!bookCategory || undefined) && {genre:{category: bookCategory}} : true
            | filter: (!!bookGenre || undefined) && {genre:{name: bookGenre}} : true
            | itemsPerPage: pageSize"
                current-page="currentPage"
                class="thumbnail book-list-item col-xs-4">
                <a href="#!books/{{book.id}}" class="thumb">
                    <img ng-src="{{book.cover}}" alt="{{book.name}}">
                </a>
                <a href="#!books/{{book.id}}">
                    <h4>{{book.name}}</h4>
                    <div>{{ 'by' | translate }}{{book.author.name}}</div>
                    <div>{{book.likes}}</div>
                    <span>
                        {{ 'ago-start' | translate }}
                        {{$ctrl.now | amDifference : book.published : 'months' }}
                        {{'months' | translate }}
                        {{'ago-end' | translate }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

