.buffer-top {
  margin-top: 15px;
}

.buffer-bottom {
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

// parent should have text-align : center
.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.pagination > li {
  line-height: 40px;
  &> a {
    float: none !important;
    margin-left: 0;
  }
}

.book-thumb {
  img {
    height: 100px;
  }
}

.thumbnail {
  border: none !important;
}

.book-likes {
  float: left;
}

.book-published-date {
  float: right;
}

.back-link {
  font-size: x-large;
}

.text-justify {
  text-align: justify;
}

.img-circle {
  border-radius: 50%;
}
